{{!< default}}
{{#post}}
<section class="page-header-area clearfix pt-5 pb-5">
 <div class="container">
	<div class="row">
		<div class="col-md-6">
		  <div class="header">
			 <div class="header-title">
				<h1 class="author-name heading-1 mb-3"><span>{{title}}</span></h1>
			 </div>
		  </div>
	   </div>
	</div>
 </div>
</section>
{{/post}}
<main class="main-content-area section-padding-bottom clearfix">
                        <img style="float: center; margin:0px 0px 0px 400px; padding-right:0px;" alt="imagepost" src="https://www.hopehu.com/content/images/2021/03/admin-ajax-4-320x350.jpg" />

                          <div style="float: center; margin:0px 0px 0px 400px; padding-right:0px" <p style="text-align:center;">Do you want beautiful, long & healthy hair? This post is all about how to achieve just that. I have put together a list of tried and tested tips on how to achieve your hair goals!.</p>
                          </div>

                    {{#post}}
                      {{content}}
                    {{/post}}
                 </div>
                </div>
            </div>
        </div>
    </div>
</main>
