{{!< default}}
  {{> "page_header"}}
<main class="main-content-area section-padding-bottom clearfix">
    <div class="page-wrapper">
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="entry-content">
                    {{#post}}
                      {{content}}
                    {{/post}}
                 </div>
                </div>
            </div>
        </div>
    </div>
</main>
